<h1>Testing Opal</h1>
<p>More:
  <a href="#">https://github.com/opal/opal-rails</a>
</p>
<h1 id="elem1">This elem should be replaced by OPAL (script from assets)</h1>
<a id="click-event" href="#"> CLICK EVENT </a>

